!!! Strict
%html
  %head
    %title Rss Status
    %style{:type => "text/css", :media => "screen"}
      :plain
        .post {
          border: 1px solid;
          float: left;
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: auto;
          margin-right: auto;
        }  
        .post_title {
          border: 1px solid;
          margin: 0px;
        }
        .post_content {
          border: 1px solid;
          margin: 0px;
        }
        .linebreak {
          clear: both;
        }
        a, a:visited {
          text-decoration: none; color: black;
        }
        #header {
          heigth: 30px;
          border: 1px solid;
        }
  %body
    #header
      %a{:href => "/"}
        wRssSyn : a simple rss syndicator
    = yield
    
