:markdown
  wRssSyn is a simple rss aggregator. It watches as many blogs as you want, and when something new is available, you'll get a notification through our interface.

  We are currently running in closed beta. If you want to know more, shoot us an email at [rss@leukensis.org](mailto:rss@leukensis.org])
